<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button [routerLink]="['/home']">Ir para Página 2</ion-button>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>SHIEP</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <div class="usuario">
    <h1> Login: </h1>
    <h2> Senha: </h2>
  </div>
  <div class="quadrados">
      <input type="text" placeholder="Digite seu login"><br><br>
      <input type="text" placeholder="Senha">
  </div> <br><br>
   <div class="cadastrarEsquecer">
      <input type="button" value="ENTRAR"> <br><br>
      <input type="button" value="Cadastre-se">
      <input type="button" value="Esqueceu a senha">
   </div>
</ion-content>
