<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
        <form>
            <label for="cpf">CPF</label>
            <input type="text" id="cpf" placeholder="Digite seu CPF">
            
            <div class="box"></div>
            
            <ion-button expand="block" class="download-btn">
              <ion-icon name="download-outline" slot="start"></ion-icon>
              Baixar
            </ion-button>
            
        </form>
  
</ion-content>
